    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="about-section">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h2>About Me</h2>
                    <img class="face" src="img/face.jpg"></img>
                    <p>
                        I'm currently an undergraduate student at KAIST (Korea Advanced Institute of Science and Technology). My research interests are in Computer Vision.
                        In my spare time, I enjoy singing, reading, playing basketball, and playing chess.
                    </p>
                    <ul class="list-inline download-buttons">
                        <li>
                            <a href="files/CV.pdf" class="btn btn-download btn-lg" download="surolee_CV.pdf"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="file-name">CV</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>