    <!-- Download Section -->
    <section id="skills" class="content-section text-center">
        <div class="skills-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Skills</h2>
                    <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-10">
                        <h3>Programming Languages</h3>
                        <span class="skills-img-background">
                            <img class="skills-img" src="img/skills/python.png"></img>
                        </span>
                        <p>I am most experienced in Python, with additional proficiency in C, C++, Java, and Javascript. I also have experience with functional programming languages such as Scala.</p>
                        
                    </div>
                    <div class="col-lg-6 mb-10">
                        <h3>Deep Learning Frameworks</h3>
                        <span class="skills-img-background">
                            <img class="skills-img" src="img/skills/deep_learning.png"></img>
                        </span>
                        <p>I used Pytorch extensively throughout my research in <a class="page-scroll" href="#deep-compression" style="color:#85ceff">Deep Image Compression</a>, implementing various models and training/testing pipelines. In addition, during many of my undergraduate courses, I used both Pytorch and Tensorflow to reproduce papers and do group projects.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-10">
                        <h3>Web Development</h3>
                        <span class="skills-img-background">
                            <img class="skills-img" src="img/skills/web_development.png"></img>
                        </span>
                        <p>I used HTML, CSS, Svelte, Flask, Bootstrap, and Node.js along with Pytorch to integrate different novel technologies from various Samsung AI Centers around the world 
                            into a <a class="page-scroll" href="#ai-kitchen" style="color:#85ceff">AI Recipe Navigation Demo</a> that was exhibited at Samsung Research Open Lab 2022.</p>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <h3>Mobile Development</h3>
                        <span class="skills-img-background">
                            <img class="skills-img" src="img/skills/app_development.png"></img>
                        </span>
                        <p>As part of small projects, I've created a messenger app using Android Studio and Firebase, a "maze runner" game using Unity, and a Seoul café catalog app—where users can post pictures of cafés and leave reviews—using Flutter.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h3>Cloud-Based Technologies</h3>
                        <span class="skills-img-background">
                            <img class="skills-img" src="img/skills/computer_networks.png"></img>
                        </span>
                        <p>During my internship at <a class="page-scroll" href="#spi-inspection" style="color:#85ceff">Koh Young Technology</a>, I worked on using cloud-based technologies such as Apache Kafka, Apache Spark, and Apache HBase to accelerate deep learning pipelines through distributed clusters.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>